<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    <form action="/submit" method="POST">
        <label for="name">Name</label>
        <input name="name" type="text">
        <br>
        <label for="location">Location</label>        
        <select name="location">
            <option value="Mountain View">Mountain View</option>
        </select>
        <br>
        <label for="language">Language</label>
        <select name="language">
            <option value="JavaScript">JavaScript</option>
        </select>
        <br>
        <label for="comment">Comment (optional)</label>
        <br>
        <textarea name="comment" cols="30" rows="5"></textarea>
        <br>
        <input type="submit">
    </form>
</body>
</html>
