<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="flex-align mt-15px">
            <h1>Here are the awesome quotes!</h1>
            <a href="/" class="btn btn-default mt-15px">Go back</a>
        </div>
        <div class="quotes">
        <% for (var i in quotes) { %>
            <div class="mt-15px">
                <div class="flex-align mt-15px">
                    <h5><%= quotes[i].name %></h5>
                    <h5><%= quotes[i].createdAt %></h5>
                </div>
                <p><%= quotes[i].quote %></p>
            </div>
        <% } %>
        </div>
    </div>
</body>
</html>
